# Copyright (c) 2025 Felix Kahle.
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

name: Build and Test
permissions:
  contents: read

on: [ push, pull_request ]

jobs:
  test:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "Ubuntu (GCC)"
            os: ubuntu-latest
            cc: gcc
            cxx: g++
            std_flag: "--cxxopt='-std=c++23' --cxxopt='-fno-exceptions'"

          - name: "Ubuntu (Clang)"
            os: ubuntu-latest
            cc: clang
            cxx: clang++
            std_flag: "--cxxopt='-std=c++23' --cxxopt='-fno-exceptions'"

          - name: "macOS (Apple Clang)"
            os: macos-latest
            cc: clang
            cxx: clang++
            std_flag: "--cxxopt='-std=c++23' --cxxopt='-fno-exceptions'"

          - name: "Windows (MSVC)"
            os: windows-latest
            cc: ""
            cxx: ""
            std_flag: "--cxxopt='/std:c++20' --cxxopt='/Zc:__cplusplus' --cxxopt='/EHs-c-' --cxxopt='/D_HAS_EXCEPTIONS=0'"

    env:
      CC: ${{ matrix.config.cc }}
      CXX: ${{ matrix.config.cxx }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Install Clang (Linux Only)
        if: matrix.config.name == 'Ubuntu (Clang)'
        run: |
          sudo apt-get update
          sudo apt-get install -y clang

      - name: Build (Debug)
        run: bazel build //... --compilation_mode=dbg ${{ matrix.config.std_flag }}

      - name: Test (Debug)
        run: bazel test //... --compilation_mode=dbg ${{ matrix.config.std_flag }} --test_output=errors
      - name: Build (Release)
        run: bazel build //... --compilation_mode=opt ${{ matrix.config.std_flag }}
        
      - name: Test (Release)
        run: bazel test //... --compilation_mode=opt ${{ matrix.config.std_flag }} --test_output=errors
